In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py
import plotly.offline as pyoff
import plotly.graph_objs as go
from plotly.subplots import make_subplots

### 2018 - 2019 - 2020

In [3]:
df_og = pd.read_csv('./Data/orders_export_1.csv', sep=',', decimal=',')

C:\Users\Angela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning:

Columns (28,31,38,41,69,70) have mixed types.Specify dtype option on import or set low_memory=False.

In [4]:
df_og.shape

(8422, 71)

In [5]:
df_og.columns

Index(['Name', 'Email', 'Financial Status', 'Paid at', 'Fulfillment Status',
       'Fulfilled at', 'Accepts Marketing', 'Currency', 'Subtotal', 'Shipping',
       'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Shipping Method',
       'Created at', 'Lineitem quantity', 'Lineitem name', 'Lineitem price',
       'Lineitem compare at price', 'Lineitem sku',
       'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing Name', 'Billing Street',
       'Billing Address1', 'Billing Address2', 'Billing Company',
       'Billing City', 'Billing Zip', 'Billing Province', 'Billing Country',
       'Billing Phone', 'Shipping Name', 'Shipping Street',
       'Shipping Address1', 'Shipping Address2', 'Shipping Company',
       'Shipping City', 'Shipping Zip', 'Shipping Province',
       'Shipping Country', 'Shipping Phone', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Payment Reference',
       'Refunded Amount', 'Vendor', 'Id', 'Tags', 'Risk Level', 'Source',
       'Lineitem discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name',
       'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value', 'Tax 4 Name', 'Tax 4 Value',
       'Tax 5 Name', 'Tax 5 Value', 'Phone', 'Receipt Number', 'Duties',
       'Billing Province Name', 'Shipping Province Name'],
      dtype='object')

In [6]:
df_og.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Phone,Receipt Number,Duties,Billing Province Name,Shipping Province Name
0,DE4055,mscheer@web.de,paid,2021-07-14 10:19:16 +0200,fulfilled,2021-07-14 10:19:18 +0200,no,EUR,230.96,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DE4055,mscheer@web.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DE4055,mscheer@web.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DE4054,bellmann-claudia@gmx.de,paid,2021-07-14 09:30:12 +0200,fulfilled,2021-07-14 09:30:14 +0200,no,EUR,109.95,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DE4054,bellmann-claudia@gmx.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
%run ./cohorts_pipeline_pom_v3.py

In [8]:
df = df_cleaning(df_og)

In [9]:
df.isna().sum()

Email               0
Order               0
Status              0
Creation_Date       0
Subtotal            0
Shipping            0
Taxes               0
Total               0
Product Name        0
Customer_Name       0
Order_ID            0
First_Order         0
First_Order_YM      0
Creation_Date_YM    0
Customer_Type       0
Year                0
Week                0
Year_Week           0
ValueNOVAT          0
dtype: int64

In [10]:
df.Status.unique()

array(['paid', 'partially_refunded', 'refunded'], dtype=object)

In [11]:
df = df.fillna(0)

In [12]:
df['Creation_Date_YM'] = df['Creation_Date'].apply(lambda x: x.strftime('%Y-%m'))

In [15]:
df['DaysDiff'] = df.groupby('Email')['Creation_Date'].diff().apply(lambda x: x.days).fillna(0)

In [16]:
df.head()

,Email,Order,Status,Creation_Date,Subtotal,Shipping,Taxes,Total,Product Name,Customer_Name,Order_ID,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Year,Week,Year_Week,ValueNOVAT,DaysDiff
0,mscheer@web.de,DE4055,paid,2021-07-14 08:19:15+00:00,230.96,0.0,36.88,230.96,Card set SS21,Michaela Scheer,3.795021e+12,2021-07-14 08:19:15+00:00,2021-07,2021-07,New,2021,28,2021-28,194.08,0.0
1,bellmann-claudia@gmx.de,DE4054,paid,2021-07-14 07:30:11+00:00,109.95,0.0,17.56,109.95,Card set SS21,Claudia Bellmann,3.794999e+12,2021-04-23 20:34:42+00:00,2021-04,2021-07,Returning,2021,28,2021-28,92.39,0.0
2,andienina@yahoo.de,DE4053,paid,2021-07-13 20:15:04+00:00,303.87,0.0,48.52,303.87,HOSE - Bouncing Stripes Coral - 42,Nina Müller,3.794557e+12,2021-07-13 20:15:04+00:00,2021-07,2021-07,New,2021,28,2021-28,255.35,0.0
3,kaidoe@web.de,DE4052,paid,2021-07-13 19:39:52+00:00,69.95,0.0,11.17,69.95,Card set SS21,Dörte Kaiser,3.794521e+12,2021-07-13 19:39:52+00:00,2021-07,2021-07,New,2021,28,2021-28,58.78,0.0
4,startoja@hotmail.com,DE4051,paid,2021-07-13 18:11:44+00:00,375.86,0.0,60.01,375.86,KLEID - Roses Midnight Blue Shimmer - 34,Marc Costea,3.794438e+12,2021-07-13 18:11:44+00:00,2021-07,2021-07,New,2021,28,2021-28,315.85,0.0

In [17]:
df.Status.unique()

array(['paid', 'partially_refunded', 'refunded'], dtype=object)

In [18]:
df.shape

(2949, 20)

# First Time Buyers

In [19]:
df.head()

,Email,Order,Status,Creation_Date,Subtotal,Shipping,Taxes,Total,Product Name,Customer_Name,Order_ID,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Year,Week,Year_Week,ValueNOVAT,DaysDiff
0,mscheer@web.de,DE4055,paid,2021-07-14 08:19:15+00:00,230.96,0.0,36.88,230.96,Card set SS21,Michaela Scheer,3.795021e+12,2021-07-14 08:19:15+00:00,2021-07,2021-07,New,2021,28,2021-28,194.08,0.0
1,bellmann-claudia@gmx.de,DE4054,paid,2021-07-14 07:30:11+00:00,109.95,0.0,17.56,109.95,Card set SS21,Claudia Bellmann,3.794999e+12,2021-04-23 20:34:42+00:00,2021-04,2021-07,Returning,2021,28,2021-28,92.39,0.0
2,andienina@yahoo.de,DE4053,paid,2021-07-13 20:15:04+00:00,303.87,0.0,48.52,303.87,HOSE - Bouncing Stripes Coral - 42,Nina Müller,3.794557e+12,2021-07-13 20:15:04+00:00,2021-07,2021-07,New,2021,28,2021-28,255.35,0.0
3,kaidoe@web.de,DE4052,paid,2021-07-13 19:39:52+00:00,69.95,0.0,11.17,69.95,Card set SS21,Dörte Kaiser,3.794521e+12,2021-07-13 19:39:52+00:00,2021-07,2021-07,New,2021,28,2021-28,58.78,0.0
4,startoja@hotmail.com,DE4051,paid,2021-07-13 18:11:44+00:00,375.86,0.0,60.01,375.86,KLEID - Roses Midnight Blue Shimmer - 34,Marc Costea,3.794438e+12,2021-07-13 18:11:44+00:00,2021-07,2021-07,New,2021,28,2021-28,315.85,0.0

In [20]:
import datetime
now = datetime.datetime.now()

In [21]:
now

datetime.datetime(2021, 7, 30, 14, 36, 32, 945041)

In [ ]:
now - df['First_Order']

In [ ]:
df[(now - df['First_Order'])<=pd.Timedelta(7,'D')].loc[:,['E-mail', 'Firstname', 'Lastname']]
# it doesn't show new customers because this data is older than 2 weeks...

In [25]:
new_customers = df[(now - df['First_Order'])<=pd.Timedelta(7,'D')].loc[:,['E-mail', 'Firstname', 'Lastname']]

In [26]:
new_customers = new_customers.drop_duplicates()

In [27]:
#new_customers.to_csv('./Outputs/WOOOF_NewCustomers_{}.csv'.format(pd.datetime.today().strftime('%Y%m%d'), index=False))

In [28]:
new_customers.head()

                               E-mail   Firstname            Lastname
85549                ronjasuhr@web.de       Ronja                Suhr
85551      bettyziskoven674@gmail.com       Karin            Ziskoven
85570                max_hein@live.de  Maximilian                Hein
85572                cat-dany@gmx.de0     Daniela         Schönberger
85583  ccvandersteenhoven@hotmail.com    Coenraad  van der Steenhoven

## RFM

In [23]:
df.columns

Index(['Email', 'Order', 'Status', 'Creation_Date', 'Subtotal', 'Shipping',
       'Taxes', 'Total', 'Product Name', 'Customer_Name', 'Order_ID',
       'First_Order', 'First_Order_YM', 'Creation_Date_YM', 'Customer_Type',
       'Year', 'Week', 'Year_Week', 'ValueNOVAT', 'DaysDiff'],
      dtype='object')

In [24]:
df_og.columns

Index(['Name', 'Email', 'Financial Status', 'Paid at', 'Fulfillment Status',
       'Fulfilled at', 'Accepts Marketing', 'Currency', 'Subtotal', 'Shipping',
       'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Shipping Method',
       'Created at', 'Lineitem quantity', 'Lineitem name', 'Lineitem price',
       'Lineitem compare at price', 'Lineitem sku',
       'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing Name', 'Billing Street',
       'Billing Address1', 'Billing Address2', 'Billing Company',
       'Billing City', 'Billing Zip', 'Billing Province', 'Billing Country',
       'Billing Phone', 'Shipping Name', 'Shipping Street',
       'Shipping Address1', 'Shipping Address2', 'Shipping Company',
       'Shipping City', 'Shipping Zip', 'Shipping Province',
       'Shipping Country', 'Shipping Phone', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Payment Reference',
       'Refunded Amount', 'Vendor', 'Id', 'Tags', 'Risk Level', 'Source',
       'Lineitem discount', 'Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name',
       'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value', 'Tax 4 Name', 'Tax 4 Value',
       'Tax 5 Name', 'Tax 5 Value', 'Phone', 'Receipt Number', 'Duties',
       'Billing Province Name', 'Shipping Province Name'],
      dtype='object')

In [25]:
# Setup maximum date for Recency calculation on training dataset
max_date = df.Creation_Date.max()

In [26]:
max_date

Timestamp('2021-07-14 08:19:15+0000', tz='UTC')

In [27]:
df.Customer_Type.value_counts()

New          2377
Returning     572
Name: Customer_Type, dtype: int64

In [36]:
df_21 = df[df['Creation_Date'] >= '2020-01-01']
df_21.Creation_Date.min()

Timestamp('2020-01-03 13:30:46+0000', tz='UTC')

In [37]:
df_19 = df[df['Creation_Date'] >= '2019-01-01']
df_19.shape

(2949, 20)

In [39]:
# Create the RFM table
rfm_21 = df_21.groupby('Email').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

rfm_19 = df_19.groupby('Email').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

In [40]:
# Reset Index
rfm_21.reset_index(inplace=True)

# Change the name of the columns
rfm_21.columns=['email','recency','frequency','monetary_value']

# Reset Index
rfm_19.reset_index(inplace=True)

# Change the name of the columns
rfm_19.columns=['email','recency','frequency','monetary_value']

In [41]:
rfm_21.shape, df_21.shape

((2353, 4), (2919, 20))

In [42]:
rfm_19.shape, df_19.shape

((2377, 4), (2949, 20))

In [43]:
# Purchase Frequency
purchase_frequency=sum(rfm_21['frequency'])/rfm_21.shape[0]

In [44]:
# Repeat Rate
repeat_rate=rfm_21[rfm_21.frequency > 1].shape[0]/rfm_21.shape[0]

In [45]:
# Churn Rate
churn_rate=1-repeat_rate

In [46]:
purchase_frequency,repeat_rate,churn_rate

(1.24054398640034, 0.15512112197195072, 0.8448788780280493)

In [47]:
# Customer Value
rfm_21['CLV']=(rfm_21['monetary_value']*purchase_frequency)/churn_rate

In [48]:
# Purchase Frequency
purchase_frequency=sum(rfm_19['frequency'])/rfm_19.shape[0]

# Repeat Rate
repeat_rate=rfm_19[rfm_19.frequency > 1].shape[0]/rfm_19.shape[0]

# Churn Rate
churn_rate=1-repeat_rate

# Customer Value
rfm_19['CLV']=(rfm_19['monetary_value']*purchase_frequency)/churn_rate

In [49]:
rfm_21.sample(5)

,email,recency,frequency,monetary_value,CLV
902,helgawilling@web.de,109,1.0,49.55,72.754754
1748,petrahoffmann.krefeld@web.de,370,1.0,52.04,76.410845
348,b_entschel@web.de,92,1.0,99.13,145.553556
1697,nosagra@icloud.com,146,1.0,148.67,218.293627
567,claudia.aldejohann@gmx.de,208,2.0,111.49,163.701866

In [52]:
rfm_21.CLV.describe()

count    2353.000000
mean      270.479092
std       208.832548
min         7.268134
25%       145.568239
50%       196.489225
75%       345.728239
max      2348.532254
Name: CLV, dtype: float64

In [53]:
 rfm_21.quantile([.2, .4, .6, .8], axis=0)

     recency  frequency  monetary_value         CLV
0.2     37.0        1.0          90.870  133.425317
0.4     70.0        1.0         123.930  181.967641
0.6     96.0        1.0         159.722  234.521387
0.8    144.6        1.0         252.020  370.043451

In [54]:
 rfm_19.quantile([.2, .4, .6, .8], axis=0)

     recency  frequency  monetary_value         CLV
0.2     37.0        1.0          90.870  133.387571
0.4     71.0        1.0         123.930  181.916162
0.6     97.0        1.0         156.965  230.408056
0.8    148.0        1.0         251.879  369.731792

In [55]:
rfm_19.recency.median(), rfm_21.recency.median()

(82.0, 82.0)

In [56]:
max_date

Timestamp('2021-07-14 08:19:15+0000', tz='UTC')

In [28]:
# Create the RFM table
rfm = df.groupby('Email').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

# Reset Index
rfm.reset_index(inplace=True)

# Change the name of the columns
rfm.columns=['email','recency','frequency','monetary_value']

rfm.shape, df.shape

((2377, 4), (2949, 20))

In [29]:
rfm.email.unique

<bound method Series.unique of 0       2000kerstinwinter@gmail.com
1                  4piano@online.de
2               A.Scharbrodt@gmx.de
3                   A.v.Pape@gmx.de
4        A.venschott@eimermacher.de
                   ...
2372            zoe-rothmann@web.de
2373           zorica.geiger@gmx.de
2374         zorri.emilia@gmail.com
2375                 zwennie@gmx.at
2376       zwinckermaeuschen@gmx.de
Name: email, Length: 2377, dtype: object>

In [30]:
# Purchase Frequency
purchase_frequency=sum(rfm['frequency'])/rfm.shape[0]
# Repeat Rate
repeat_rate=rfm[rfm.frequency > 1].shape[0]/rfm.shape[0]
# Churn Rate
churn_rate=1-repeat_rate
# Customer Value
rfm['CLV']=(rfm['monetary_value']*purchase_frequency)/churn_rate

rfm.head()

                         email  recency  frequency  monetary_value         CLV
0  2000kerstinwinter@gmail.com       37        1.0          256.12  375.957133
1             4piano@online.de       66        1.0          156.16  229.226401
2          A.Scharbrodt@gmx.de      376        2.0           77.24  113.380169
3              A.v.Pape@gmx.de      311        1.0          140.37  206.048347
4   A.venschott@eimermacher.de       82        1.0          181.74  266.775142

In [31]:
# Hashing Emails
import hashlib

hash_object = hashlib.sha512(b'Hello World')
hex_dig = hash_object.hexdigest()
print(hex_dig)

2c74fd17edafd80e8447b0d46741ee243b7eb74dd2149a0ab1b9246fb30382f27e853d8585719e0e67cbda0daa8f51671064615d645ae27acb15bfb1447f459b

In [32]:
x= rfm.email[1]
test = hashlib.sha512(x.encode('utf-8'))
test_dig = test.hexdigest()
print(test_dig)

2cb87aef29ca0e9dab5a8e548252d08c50615404cfdc9086a54b25dffdd095084bfcb0188fa67bf8c424637f946120094f0f68a2f47008220ffd7f8b8a7957f8

In [33]:
rfm.email[0].encode('utf-8')

b'2000kerstinwinter@gmail.com'

In [34]:
hash(test)

120691977681

In [35]:
def hash(x):
    test = hashlib.sha512(x.encode('utf-8'))
    test_dig = test.hexdigest()
    return test_dig

In [36]:
rfm_test = rfm.copy()

In [37]:
rfm_test.email = rfm_test.email.apply(lambda x: hash(x))
rfm_test

,email,recency,frequency,monetary_value,CLV
0,66e7f1bae4c8af08176c1b7d9843e525b8a3002c877daf...,37,1.0,256.12,375.957133
1,2cb87aef29ca0e9dab5a8e548252d08c50615404cfdc90...,66,1.0,156.16,229.226401
2,d20c8e1c05fefe6c366b1241e6f94463702df0715cc06a...,376,2.0,77.24,113.380169
3,8f9262ab18472f564204d08ab763ae4614736651f76258...,311,1.0,140.37,206.048347
4,da8785a93d8d7751499f67d1e96134760e5f5f5458ba95...,82,1.0,181.74,266.775142
...,...,...,...,...,...
2372,cea6280a47eac5b7ee2bec7cff2c844c6dcd2e7158eced...,82,1.0,231.27,339.479955
2373,d72f6ec83861677260484dacf0f8c75c4a1422d3d6fe6c...,72,1.0,82.60,121.248084
2374,8211c4783a3e6b68fbfa09c6995c889e3cc2e2d7e13371...,76,1.0,309.80,454.753708
2375,3588835c1fe1d248e772aa2c222eb36cc6c2a2ba5d5a5a...,113,1.0,297.40,436.551817
2376,9a6a5d372369f1264c67276ce49d666e5d4d3892f3d417...,138,1.0,272.61,400.162713

In [38]:
len(rfm.email.unique())

2377

In [39]:
len(rfm_test.email.unique())

2377

In [60]:
# save the rfm table into a google sheet
# %% DUMP DATA ON GOOGLE SHEET
from gspread_pandas import Spread, Client
import gspread
gc = gspread.service_account()
g_sheet = '1pymRU0rhpfRQKlUzSFbD8sK_QkTB0WUctzgOuZ8W-Jc'
sheet_name = gc.open_by_key(g_sheet)

In [88]:
# dumping into the RFM tab
worksheet = sheet_name.worksheet('RFM') 
worksheet.update([rfm_test.columns.values.tolist()] + rfm_test.values.tolist())

{'spreadsheetId': '1pymRU0rhpfRQKlUzSFbD8sK_QkTB0WUctzgOuZ8W-Jc',
 'updatedRange': 'RFM!A1:E2378',
 'updatedRows': 2378,
 'updatedColumns': 5,
 'updatedCells': 11890}

In [40]:
rfm_test.quantile([.2, .4, .6, .8], axis=0)

     recency  frequency  monetary_value         CLV
0.2     37.0        1.0          90.870  133.387571
0.4     71.0        1.0         123.930  181.916162
0.6     97.0        1.0         156.965  230.408056
0.8    148.0        1.0         251.879  369.731792

In [54]:
rfm['r_score'] = 0
for d in range(len(rfm)):
    if rfm.recency[d] < 60:
        rfm['r_score'][d] = 5
    elif rfm.recency[d] < 190:
        rfm['r_score'][d] = 4
    elif rfm.recency[d] < 400:
        rfm['r_score'][d] = 3
    elif rfm.recency[d] < 610:
        rfm['r_score'][d] = 2
    else:
        rfm['r_score'][d] = 1

In [55]:
rfm['f_score'] = 0
for o in range(len(rfm)):
    if rfm.frequency[o] == 1:
        rfm['f_score'][o] = 1
    elif rfm.frequency[o] == 2:
        rfm['f_score'][o] = 2
    elif rfm.frequency[o] == 3:
        rfm['f_score'][o] = 3
    elif rfm.frequency[o] == 4:
        rfm['f_score'][o] = 4
    else:
        rfm['f_score'][o] = 5

In [56]:
rfm['m_score'] = 0
for o in range(len(rfm)):
    if rfm.monetary_value[o] < 33:
        rfm['m_score'][o] = 1
    elif rfm.monetary_value[o] < 43:
        rfm['m_score'][o] = 2
    elif rfm.monetary_value[o] < 50:
        rfm['m_score'][o] = 3
    elif rfm.monetary_value[o] < 61:
        rfm['m_score'][o] = 4
    else:
        rfm['m_score'][o] = 5

In [58]:
rfm['score_conc'] = ''
for s in range(len(rfm)):
    rfm['score_conc'][s] = str(rfm['r_score'][s])+str(rfm['f_score'][s])+str(rfm['m_score'][s])

In [59]:
rfm.head()

,email,recency,frequency,monetary_value,CLV,r_score,f_score,m_score,score_conc
0,003ppcs4s2vcj0q@marketplace.amazon.de,734,3,40.150000,312.997351,1,3,2,132
1,009g57nc9rg76dy@marketplace.amazon.de,32,11,45.452727,354.335821,5,5,3,553
2,00j89nxrhbft07k@marketplace.amazon.de,1060,1,44.810000,349.325313,1,1,3,113
3,00jx5l3sntnj5p1@marketplace.amazon.de,847,1,23.830000,185.771529,1,1,1,111
4,00sk0ls66hd2c5x@marketplace.amazon.de,958,2,27.050000,210.873682,1,2,1,121

In [69]:
rfm['clv_score'] = ''
for d in range(len(rfm)):
    if rfm.CLV[d] < 215:
        rfm['clv_score'][d] = "Low"
    elif rfm.CLV[d] < 277:
        rfm['clv_score'][d] = "Mid-Low"
    elif rfm.CLV[d] < 320:
        rfm['clv_score'][d] = "Mid"
    elif rfm.CLV[d] < 386:
        rfm['clv_score'][d] = "Mid-High"
    elif rfm.CLV[d] >= 386:
         rfm['clv_score'][d] = "High"

In [62]:
promising = rfm[rfm['score_conc'].isin(["525", "524", "523", "522", "521", "515", "514", "513", "425", "424", "413", "414", "415", "315", "314", "313"])].loc[:,['email']]

In [66]:
rfm[rfm['score_conc'].isin(["525", "524", "523", "522", "521", "515", "514", "513", "425", "424", "413", "414", "415", "315", "314", "313"])]

,email,recency,frequency,monetary_value,CLV,r_score,f_score,m_score,score_conc,clv_score
6,00w4f6c1l0dr8wr@marketplace.amazon.de,39,2,36.400,283.763476,5,2,2,522,Mid
7,00y6n4lv9yxzn94@marketplace.amazon.de,343,1,57.710,449.889841,3,1,4,314,High
51,05xzx8jgpk2xdy5@marketplace.amazon.de,115,1,52.480,409.118331,4,1,4,414,High
54,06b2pyv78fyqq3d@marketplace.amazon.de,40,2,49.485,385.770210,5,2,3,523,Mid-High
97,0d79hym02d70vj2@marketplace.amazon.de,196,1,53.470,416.836074,3,1,4,314,High
...,...,...,...,...,...,...,...,...,...,...
23468,zt03hsjr6gx8hqv@marketplace.amazon.de,197,1,58.810,458.465111,3,1,4,314,High
23471,ztbr3mwpwl6zfr2@marketplace.amazon.de,266,1,46.050,358.991980,3,1,3,313,Mid-High
23481,zuechter1@gmx.de,10,1,102.800,801.397950,5,1,5,515,High
23506,zwinger_von_itzenplitz@gmx.de,256,1,108.810,848.250106,3,1,5,315,High
23518,zyc7k56ktbhyfxb@marketplace.amazon.de,331,1,69.860,544.607595,3,1,5,315,High

In [63]:
promising.shape

(1531, 1)

In [70]:
clv_relevant = rfm[rfm['clv_score'].isin(["Mid-High", "High"])].loc[:,['email']]
clv_relevant.shape

(8964, 1)

In [68]:
rfm.shape # but in powr bi there are only 15,466 customers

(23530, 10)

In [71]:
promising.to_csv('./Outputs/Promising_Cust_09062021.csv', index=False)

clv_relevant.to_csv('./Outputs/High_MidHigh_CLV_Cust_09062021.csv', index=False)

## Experiments