In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py
import plotly.offline as pyoff
import plotly.graph_objs as go
from plotly.subplots import make_subplots

### 2018 - 2019 - 2020

In [51]:
df_og2 = pd.read_csv('./Data/orders-export-2021-03-16-16-13-22.csv', sep=';', decimal=',')
df_og = pd.read_csv('./Data/Export Febrero + Marzo (12.3).csv', sep=';', decimal=',')

C:\Users\Angela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning:

Columns (26,34) have mixed types.Specify dtype option on import or set low_memory=False.

In [3]:
df_og.columns

Index(['Order_ID', 'Order', 'Invoices', 'Credit_notes', 'Added', 'Status',
       'Custom_status', 'Payment', 'Shipping', 'Price_total', 'Price_total_ex',
       'Price_vat', 'Price_cost', 'Price_shipping', 'Weight', 'Volume',
       'Colli', 'Company', 'Vat', 'Firstname', 'Lastname', 'Phone', 'Mobile',
       'E-mail', 'Attn', 'Streetname', 'Second_address_line', 'Number',
       'Extension', 'Zipcode', 'City', 'Region', 'Country', 'Invoice_street',
       'Invoice_street_2', 'Invoice_housenumber', 'Invoice_housenumber_ext',
       'Invoice_zipcode', 'Invoice_city', 'Invoice_region', 'Invoice_country',
       'Quantity', 'Product_price', 'Product_price_cost', 'Product_weight',
       'Product_volume', 'Product_colli', 'Product_supplier', 'Product_brand',
       'Product_title', 'Product_variant', 'Product_article_code',
       'Product_EAN', 'Product_SKU', 'Discount_code', 'Discount_price',
       'Customer', 'Comment', 'Memo', 'Price_payment', 'Shipping_company'],
      dtype='object')

In [4]:
df_og.shape

(4332, 61)

In [5]:
df_og.Status.unique()

array(['Paid, shipped', 'Not paid, not shipped', 'Cancelled',
       'Paid, not shipped'], dtype=object)

In [6]:
%run ./cohorts_pipeline_woof_v3.py

In [69]:
df = df_cleaning(df_og)

C:\Users\Angela\Documents\Python Scripts\WOOOF\cohorts_pipeline_woof_v3.py:30: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [52]:
df2 = df_cleaning(df_og2)

C:\Users\Angela\Documents\Python Scripts\WOOOF\cohorts_pipeline_woof_v3.py:30: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [70]:
df['Creation_Date_YM'] = df['Creation_Date'].apply(lambda x: x.strftime('%Y-%m'))

In [71]:
df.isnull().sum()

Customer_ID           0
Order                 0
Order_ID              0
Status                0
Payment               0
ValueNOVAT          905
E-mail                0
Firstname             0
Lastname              0
Product_title         0
Creation_Date         0
First_Order           0
First_Order_YM        0
Creation_Date_YM      0
Customer_Type         0
Payment_Type          0
Year                  0
Week                  0
Year_Week             0
dtype: int64

In [54]:
df2.isnull().sum()

Customer_ID             0
Order                   0
Order_ID                0
Status                  0
Payment                 0
ValueNOVAT          10103
E-mail                  0
Firstname               0
Lastname                0
Product_title           0
Creation_Date           0
First_Order             0
First_Order_YM          0
Creation_Date_YM        0
Customer_Type           0
Payment_Type            0
Year                    0
Week                    0
Year_Week               0
dtype: int64

# First Time Buyers

In [72]:
df.head()

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week
0,113463987,DE_ORD66941,174997431,"Paid, shipped",Pay.nl - Sofortbanking,151.26,kerstintaeuber@arcor.de,Kerstin,Täuber,WOOOF High Energy,2021-02-01,2021-02-01,2021-02,2021-02,New,Webshop,2021,5,2021-05
1,113463987,DE_ORD66941,174997431,"Paid, shipped",Pay.nl - Sofortbanking,NaN,kerstintaeuber@arcor.de,Kerstin,Täuber,WOOOF Lachs,2021-02-01,2021-02-01,2021-02,2021-02,New,Webshop,2021,5,2021-05
2,113463987,DE_ORD66941,174997431,"Paid, shipped",Pay.nl - Sofortbanking,NaN,kerstintaeuber@arcor.de,Kerstin,Täuber,WOOOF Ente,2021-02-01,2021-02-01,2021-02,2021-02,New,Webshop,2021,5,2021-05
3,123643553,DE_ORD66942,174998024,"Not paid, not shipped",Pay.nl - Banküberweisung,47.62,jasminnoureddine@gmail.com,Jasmin,Noureddine,WOOOF Welpen,2021-02-01,2021-02-01,2021-02,2021-02,New,Webshop,2021,5,2021-05
4,51148235,DE_ORD66943,174999487,"Paid, shipped",Pay.nl - PayPal,36.87,Celyce@gmx.net,Elina,Warkentin,WOOOF Lamm & Kartoffel,2021-02-01,2021-02-01,2021-02,2021-02,New,Webshop,2021,5,2021-05

In [56]:
df2.head()

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week
0,46400897,DE_ORD00031,58005182,"Paid, shipped",Pay.nl - Banküberweisung,23.78,sjaak@blids.nl,Yvonne,Zermin,WOOOF Regular,2017-11-17,2017-11-17,2017-11,2017-11,New,Webshop,2017,46,2017-46
1,46544999,DE_ORD00032,58314515,"Paid, shipped",Klarna DE - Klarna Rechnung.,24.71,yzermin@gmx.de,Yvonne,Zermin,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
2,47823566,DE_ORD00034,58356140,"Paid, shipped",Pay.nl - Sofortbanking,37.33,Patrickwerb@gmx.de,Patrick,Werb,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
3,47821025,DE_ORD00035,58357271,"Paid, shipped",Pay.nl - Sofortbanking,23.78,marona1985malibu@googlemail.com,Ramona,Tinnemeier,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
4,47820044,DE_ORD00039,58428260,"Paid, shipped",Pay.nl - PayPal,76.16,bernd-jendreck@t-online.de,Bernd,Jendreck,WOOOF Regular,2017-11-22,2017-11-22,2017-11,2017-11,New,Webshop,2017,47,2017-47

In [73]:
df.shape

(4156, 19)

In [74]:
df[df['Creation_Date'] != df['First_Order']][:2]

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week
151,64432421,DE_ORD67074,175138759,"Not paid, not shipped",Pay.nl - PayPal,36.87,nico-weiss86@gmx.de,Nico,Weiß,WOOOF Lamm & Kartoffel,2021-02-02,2021-02-01,2021-02,2021-02,Returning,Webshop,2021,5,2021-05
435,131919580,DE_ORD67321,175471713,"Paid, shipped",Klarna DE - In 14 Tagen bezahlen,36.87,j.stoecki@web.de,Julia,Stöckmann,WOOOF Lamm & Kartoffel,2021-02-05,2021-02-03,2021-02,2021-02,Returning,Webshop,2021,5,2021-05

In [58]:
df2.shape

(77712, 19)

In [59]:
df2[df2['Creation_Date'] != df2['First_Order']][:2]

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week
72,47825285,DE_ORD00110,58598756,"Paid, shipped",Pay.nl - Banküberweisung,144.62,appaloosa@live.de,Carola,Hill,WOOOF Regular,2017-11-23,2017-11-22,2017-11,2017-11,Returning,Webshop,2017,47,2017-47
199,47820044,DE_ORD00222,58756148,"Paid, shipped",Pay.nl - PayPal,118.02,bernd-jendreck@t-online.de,Bernd,Jendreck,WOOOF Regular,2017-11-24,2017-11-22,2017-11,2017-11,Returning,Webshop,2017,47,2017-47

In [35]:
import datetime
now = datetime.datetime.now()

In [75]:
#new_customers = df[(now - df['First_Order'])<=pd.Timedelta(7,'D')].loc[:,['E-mail', 'Firstname', 'Lastname']]
new_customers = df[df['First_Order']>='2021-03-01'].loc[:,['E-mail', 'Firstname', 'Lastname']]

In [76]:
new_customers

                                     E-mail Firstname      Lastname
3088  0z0jrnxmz8spf1t@marketplace.amazon.de     Frank         Raith
3090                shahinaria223@gmail.com    Shahin          Aria
3092                    mueller-kiki@web.de   Kirsten        Müller
3096  hx3nt6lg967k9q2@marketplace.amazon.de    karina          Janz
3100            tochtenhagenjulie@gmail.com     Julie  Tochtenhagen
...                                     ...       ...           ...
4151                 cindy_rosenberg@gmx.de     Cindy     Rosenberg
4152              mariaschindler50@yahoo.de     Maria         Kruse
4153              mariaschindler50@yahoo.de     Maria         Kruse
4154                  melaniemd53@gmail.com   Melanie        Dudeck
4155                        h.essert@web.de    Helena        Essert

[827 rows x 3 columns]

In [77]:
new_customers.shape

(827, 3)

In [78]:
new_customers = new_customers.drop_duplicates()
new_customers.shape

(663, 3)

In [79]:
new_customers.to_csv('./Outputs/WOOOF_NewCustomers_{}.csv'.format(pd.datetime.today().strftime('%Y%m%d'), index=False))

<ipython-input-79-5065904b4143>:1: FutureWarning:

The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [ ]:
# with a bigger file

In [60]:
new_customers2 = df2[df2['First_Order']>='2021-03-01'].loc[:,['E-mail', 'Firstname', 'Lastname']]

In [61]:
new_customers2

                                      E-mail Firstname Lastname
76180  0z0jrnxmz8spf1t@marketplace.amazon.de     Frank    Raith
76182                shahinaria223@gmail.com    Shahin     Aria
76188  hx3nt6lg967k9q2@marketplace.amazon.de    karina     Janz
76193                        novymc@yahoo.de    Daniel     Novy
76194                   sandra.solorz@gmx.de    Sandra   Solorz
...                                      ...       ...      ...
77687  n61c89qms17hv4v@marketplace.amazon.de    Saskia   Harjes
77693                   manfredhanner@web.de   Manfred   Hanner
77698               farbeundraum15890@web.de   Marlies   Wallow
77699                  schreibanklaus@web.de    Thomas    Klaus
77706                    ines.herbold@web.de      Ines  Herbold

[393 rows x 3 columns]

In [62]:
df['First_Order'].max()

Timestamp('2021-03-11 00:00:00')

In [63]:
df2['First_Order'].max()

Timestamp('2021-03-16 00:00:00')

In [67]:
new_customers2.shape

(393, 3)

In [68]:
new_customers2 = new_customers2.drop_duplicates()
new_customers2.shape

(318, 3)

In [80]:
df2['First_Order'].min()

Timestamp('2017-11-17 00:00:00')