In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import chart_studio.plotly as py
import plotly.offline as pyoff
import plotly.graph_objs as go
from plotly.subplots import make_subplots

### 2018 - 2019 - 2020

In [2]:
#df_og = pd.read_csv('./Data/Export Febrero + Marzo (12.3).csv', sep=';', decimal=',')
#df_og = pd.read_csv('./Data/orders-export-2021-04-16-09-51-35.csv', sep=';', decimal=',')
df_og = pd.read_csv('./Data/orders-export-2021-06-08-17-58-08.csv', sep=';', decimal=',')

C:\Users\Angela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning:

Columns (26,34) have mixed types.Specify dtype option on import or set low_memory=False.

In [3]:
df_og.shape

(89889, 61)

In [4]:
df_og.Status.unique()

array(['Cancelled', 'Paid, shipped', 'Not paid, not shipped',
       'Paid, not shipped', 'Not paid, shipped'], dtype=object)

In [5]:
%run ./cohorts_pipeline_woof_v3.py

In [6]:
df = df_cleaning(df_og)

c:\Users\Angela\Documents\Python Scripts\WOOOF\cohorts_pipeline_woof_v3.py:30: FutureWarning:

Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [7]:
df.isna().sum()

Customer_ID             0
Order                   0
Order_ID                0
Status                  0
Payment                 0
ValueNOVAT          11772
E-mail                  0
Firstname               0
Lastname                0
Product_title           0
Creation_Date           0
First_Order             0
First_Order_YM          0
Creation_Date_YM        0
Customer_Type           0
Payment_Type            0
Year                    0
Week                    0
Year_Week               0
dtype: int64

In [8]:
df = df.fillna(0)

In [9]:
df['Creation_Date_YM'] = df['Creation_Date'].apply(lambda x: x.strftime('%Y-%m'))

In [10]:
df['DaysDiff'] = df.groupby('E-mail')['Creation_Date'].diff().apply(lambda x: x.days).fillna(0)

In [11]:
df.head()

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week,DaysDiff
0,46400897,DE_ORD00031,58005182,"Paid, shipped",Pay.nl - Banküberweisung,23.78,sjaak@blids.nl,Yvonne,Zermin,WOOOF Regular,2017-11-17,2017-11-17,2017-11,2017-11,New,Webshop,2017,46,2017-46,0.0
1,46544999,DE_ORD00032,58314515,"Paid, shipped",Klarna DE - Klarna Rechnung.,24.71,yzermin@gmx.de,Yvonne,Zermin,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47,0.0
2,47823566,DE_ORD00034,58356140,"Paid, shipped",Pay.nl - Sofortbanking,37.33,Patrickwerb@gmx.de,Patrick,Werb,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47,0.0
3,47821025,DE_ORD00035,58357271,"Paid, shipped",Pay.nl - Sofortbanking,23.78,marona1985malibu@googlemail.com,Ramona,Tinnemeier,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47,0.0
4,47820044,DE_ORD00039,58428260,"Paid, shipped",Pay.nl - PayPal,76.16,bernd-jendreck@t-online.de,Bernd,Jendreck,WOOOF Regular,2017-11-22,2017-11-22,2017-11,2017-11,New,Webshop,2017,47,2017-47,0.0

In [12]:
df.Status.unique()

array(['Paid, shipped', 'Not paid, not shipped', 'Paid, not shipped',
       'Not paid, shipped'], dtype=object)

In [13]:
df.shape

(85932, 20)

# First Time Buyers

In [20]:
df.head()

,Customer_ID,Order,Order_ID,Status,Payment,ValueNOVAT,E-mail,Firstname,Lastname,Product_title,Creation_Date,First_Order,First_Order_YM,Creation_Date_YM,Customer_Type,Payment_Type,Year,Week,Year_Week
0,46400897,DE_ORD00031,58005182,"Paid, shipped",Pay.nl - Banküberweisung,23.78,sjaak@blids.nl,Yvonne,Zermin,WOOOF Regular,2017-11-17,2017-11-17,2017-11,2017-11,New,Webshop,2017,46,2017-46
1,46544999,DE_ORD00032,58314515,"Paid, shipped",Klarna DE - Klarna Rechnung.,24.71,yzermin@gmx.de,Yvonne,Zermin,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
2,47823566,DE_ORD00034,58356140,"Paid, shipped",Pay.nl - Sofortbanking,37.33,Patrickwerb@gmx.de,Patrick,Werb,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
3,47821025,DE_ORD00035,58357271,"Paid, shipped",Pay.nl - Sofortbanking,23.78,marona1985malibu@googlemail.com,Ramona,Tinnemeier,WOOOF Regular,2017-11-21,2017-11-21,2017-11,2017-11,New,Webshop,2017,47,2017-47
4,47820044,DE_ORD00039,58428260,"Paid, shipped",Pay.nl - PayPal,76.16,bernd-jendreck@t-online.de,Bernd,Jendreck,WOOOF Regular,2017-11-22,2017-11-22,2017-11,2017-11,New,Webshop,2017,47,2017-47

In [21]:
import datetime
now = datetime.datetime.now()

In [22]:
now

datetime.datetime(2021, 6, 9, 9, 17, 1, 872900)

In [23]:
now - df['First_Order']

0       1300 days 09:17:01.872900
1       1296 days 09:17:01.872900
2       1296 days 09:17:01.872900
3       1296 days 09:17:01.872900
4       1295 days 09:17:01.872900
                   ...
85927     30 days 09:17:01.872900
85928    358 days 09:17:01.872900
85929    234 days 09:17:01.872900
85930    377 days 09:17:01.872900
85931   1292 days 09:17:01.872900
Name: First_Order, Length: 85932, dtype: timedelta64[ns]

In [24]:
df[(now - df['First_Order'])<=pd.Timedelta(7,'D')].loc[:,['E-mail', 'Firstname', 'Lastname']]
# it doesn't show new customers because this data is older than 2 weeks...

                                      E-mail   Firstname     Lastname
85549                       ronjasuhr@web.de       Ronja         Suhr
85551             bettyziskoven674@gmail.com       Karin     Ziskoven
85570                       max_hein@live.de  Maximilian         Hein
85572                       cat-dany@gmx.de0     Daniela  Schönberger
85573                       cat-dany@gmx.de0     Daniela  Schönberger
...                                      ...         ...          ...
85916  3bgf92rmhmkys7z@marketplace.amazon.de           ﻿        vogel
85918                     bergsabine7@web.de      Sabine         Berg
85922                     netty@stahmann.one      Anette     Stahmann
85923                 orlando2202@hotmail.de     Orlando        Gally
85926  82mds53qpd0p7n0@marketplace.amazon.de        Ümit     Gündogdu

[88 rows x 3 columns]

In [25]:
new_customers = df[(now - df['First_Order'])<=pd.Timedelta(7,'D')].loc[:,['E-mail', 'Firstname', 'Lastname']]

In [26]:
new_customers = new_customers.drop_duplicates()

In [27]:
#new_customers.to_csv('./Outputs/WOOOF_NewCustomers_{}.csv'.format(pd.datetime.today().strftime('%Y%m%d'), index=False))

In [28]:
new_customers.head()

                               E-mail   Firstname            Lastname
85549                ronjasuhr@web.de       Ronja                Suhr
85551      bettyziskoven674@gmail.com       Karin            Ziskoven
85570                max_hein@live.de  Maximilian                Hein
85572                cat-dany@gmx.de0     Daniela         Schönberger
85583  ccvandersteenhoven@hotmail.com    Coenraad  van der Steenhoven

## RFM

In [13]:
df.columns

Index(['Customer_ID', 'Order', 'Order_ID', 'Status', 'Payment', 'ValueNOVAT',
       'E-mail', 'Firstname', 'Lastname', 'Product_title', 'Creation_Date',
       'First_Order', 'First_Order_YM', 'Creation_Date_YM', 'Customer_Type',
       'Payment_Type', 'Year', 'Week', 'Year_Week', 'DaysDiff'],
      dtype='object')

In [30]:
df_og.columns

Index(['Order_ID', 'Order', 'Invoices', 'Credit_notes', 'Added', 'Status',
       'Custom_status', 'Payment', 'Shipping', 'Price_total', 'Price_total_ex',
       'Price_vat', 'Price_cost', 'Price_shipping', 'Weight', 'Volume',
       'Colli', 'Company', 'Vat', 'Firstname', 'Lastname', 'Phone', 'Mobile',
       'E-mail', 'Attn', 'Streetname', 'Second_address_line', 'Number',
       'Extension', 'Zipcode', 'City', 'Region', 'Country', 'Invoice_street',
       'Invoice_street_2', 'Invoice_housenumber', 'Invoice_housenumber_ext',
       'Invoice_zipcode', 'Invoice_city', 'Invoice_region', 'Invoice_country',
       'Quantity', 'Product_price', 'Product_price_cost', 'Product_weight',
       'Product_volume', 'Product_colli', 'Product_supplier', 'Product_brand',
       'Product_title', 'Product_variant', 'Product_article_code',
       'Product_EAN', 'Product_SKU', 'Discount_code', 'Discount_price',
       'Customer', 'Comment', 'Memo', 'Price_payment', 'Shipping_company'],
      dtype='object')

In [15]:
# Setup maximum date for Recency calculation on training dataset
max_date = df.Creation_Date.max()

In [16]:
max_date

Timestamp('2021-06-07 00:00:00')

In [16]:
df.Customer_Type.value_counts()

Returning    59276
New          26656
Name: Customer_Type, dtype: int64

In [22]:
df_21 = df[df['Creation_Date'] >= '2020-01-01']
df_21.Creation_Date.min()

Timestamp('2020-01-01 00:00:00')

In [36]:
df_19 = df[df['Creation_Date'] >= '2019-01-01']
df_19.shape

(68562, 20)

In [38]:
# Create the RFM table
rfm_21 = df_21.groupby('E-mail').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

rfm_19 = df_19.groupby('E-mail').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

In [39]:
# Reset Index
rfm_21.reset_index(inplace=True)

# Change the name of the columns
rfm_21.columns=['email','recency','frequency','monetary_value']

# Reset Index
rfm_19.reset_index(inplace=True)

# Change the name of the columns
rfm_19.columns=['email','recency','frequency','monetary_value']

In [40]:
rfm_21.shape, df_21.shape

((13439, 4), (44985, 20))

In [41]:
rfm_19.shape, df_19.shape

((18660, 4), (68562, 20))

In [28]:
# Purchase Frequency
purchase_frequency=sum(rfm_21['frequency'])/rfm_21.shape[0]

In [29]:
# Repeat Rate
repeat_rate=rfm_21[rfm_21.frequency > 1].shape[0]/rfm_21.shape[0]

In [30]:
# Churn Rate
churn_rate=1-repeat_rate

In [31]:
purchase_frequency,repeat_rate,churn_rate

(3.347347272862564, 0.570652578316839, 0.429347421683161)

In [32]:
# Customer Value
rfm_21['CLV']=(rfm_21['monetary_value']*purchase_frequency)/churn_rate

In [42]:
# Purchase Frequency
purchase_frequency=sum(rfm_19['frequency'])/rfm_19.shape[0]

# Repeat Rate
repeat_rate=rfm_19[rfm_19.frequency > 1].shape[0]/rfm_19.shape[0]

# Churn Rate
churn_rate=1-repeat_rate

# Customer Value
rfm_19['CLV']=(rfm_19['monetary_value']*purchase_frequency)/churn_rate

In [49]:
rfm_21.sample(5)

,email,recency,frequency,monetary_value
11307,sophie.wessner94@gmx.de,110,1,52.29
9654,plassenburg@web.de,180,2,32.26
5613,isabell.radziejewski@web.de,170,1,63.28
12752,water2o35@gmail.com,515,1,26.12
9370,p3g6ncqyg3lhnkx@marketplace.amazon.de,65,1,28.64

In [34]:
rfm_21.CLV.describe()

count    13439.000000
mean       326.330747
std        331.725843
min          0.000000
25%        225.470745
50%        287.451811
75%        358.445470
max      12572.566846
Name: CLV, dtype: float64

In [35]:
 rfm_21.quantile([.2, .4, .6, .8], axis=0)

     recency  frequency  monetary_value         CLV
0.2     41.0        1.0       28.183217  219.726517
0.4    105.0        1.0       32.330000  252.056334
0.6    219.8        2.0       41.070000  320.196525
0.8    379.0        5.0       47.785000  372.549086

In [43]:
 rfm_19.quantile([.2, .4, .6, .8], axis=0)

     recency  frequency  monetary_value         CLV
0.2     60.0        1.0         27.9900  232.471276
0.4    190.0        1.0         32.3596  268.763040
0.6    406.0        2.0         41.0700  341.107370
0.8    613.0        5.0         46.6800  387.701291

In [47]:
rfm_19.recency.median(), rfm_21.recency.median()

(289.0, 153.0)

In [17]:
max_date

Timestamp('2021-06-07 00:00:00')

In [18]:
# Create the RFM table
rfm = df.groupby('E-mail').agg({'Creation_Date': lambda x: (max_date - x.max()).days,
                                                   'Order_ID': lambda num: len(num),
                                                   'ValueNOVAT': lambda price: price.mean()})

# Reset Index
rfm.reset_index(inplace=True)

# Change the name of the columns
rfm.columns=['email','recency','frequency','monetary_value']

rfm.shape, df.shape

((23530, 4), (85932, 20))

In [22]:
rfm.email.unique

<bound method Series.unique of 0        003ppcs4s2vcj0q@marketplace.amazon.de
1        009g57nc9rg76dy@marketplace.amazon.de
2        00j89nxrhbft07k@marketplace.amazon.de
3        00jx5l3sntnj5p1@marketplace.amazon.de
4        00sk0ls66hd2c5x@marketplace.amazon.de
                         ...
23525    zzmgl1s1l04mzws@marketplace.amazon.de
23526    zzrnnjbmtkz3fzg@marketplace.amazon.de
23527    zztrh549mbsn9x9@marketplace.amazon.de
23528    zzxb9d6c071ws6z@marketplace.amazon.de
23529    zzyv6pm2zm5k798@marketplace.amazon.de
Name: email, Length: 23530, dtype: object>

In [51]:
# Purchase Frequency
purchase_frequency=sum(rfm['frequency'])/rfm.shape[0]
# Repeat Rate
repeat_rate=rfm[rfm.frequency > 1].shape[0]/rfm.shape[0]
# Churn Rate
churn_rate=1-repeat_rate
# Customer Value
rfm['CLV']=(rfm['monetary_value']*purchase_frequency)/churn_rate

rfm.head()

,email,recency,frequency,monetary_value,CLV
0,003ppcs4s2vcj0q@marketplace.amazon.de,734,3,40.150000,312.997351
1,009g57nc9rg76dy@marketplace.amazon.de,32,11,45.452727,354.335821
2,00j89nxrhbft07k@marketplace.amazon.de,1060,1,44.810000,349.325313
3,00jx5l3sntnj5p1@marketplace.amazon.de,847,1,23.830000,185.771529
4,00sk0ls66hd2c5x@marketplace.amazon.de,958,2,27.050000,210.873682

In [54]:
rfm['r_score'] = 0
for d in range(len(rfm)):
    if rfm.recency[d] < 60:
        rfm['r_score'][d] = 5
    elif rfm.recency[d] < 190:
        rfm['r_score'][d] = 4
    elif rfm.recency[d] < 400:
        rfm['r_score'][d] = 3
    elif rfm.recency[d] < 610:
        rfm['r_score'][d] = 2
    else:
        rfm['r_score'][d] = 1

In [55]:
rfm['f_score'] = 0
for o in range(len(rfm)):
    if rfm.frequency[o] == 1:
        rfm['f_score'][o] = 1
    elif rfm.frequency[o] == 2:
        rfm['f_score'][o] = 2
    elif rfm.frequency[o] == 3:
        rfm['f_score'][o] = 3
    elif rfm.frequency[o] == 4:
        rfm['f_score'][o] = 4
    else:
        rfm['f_score'][o] = 5

In [56]:
rfm['m_score'] = 0
for o in range(len(rfm)):
    if rfm.monetary_value[o] < 33:
        rfm['m_score'][o] = 1
    elif rfm.monetary_value[o] < 43:
        rfm['m_score'][o] = 2
    elif rfm.monetary_value[o] < 50:
        rfm['m_score'][o] = 3
    elif rfm.monetary_value[o] < 61:
        rfm['m_score'][o] = 4
    else:
        rfm['m_score'][o] = 5

In [58]:
rfm['score_conc'] = ''
for s in range(len(rfm)):
    rfm['score_conc'][s] = str(rfm['r_score'][s])+str(rfm['f_score'][s])+str(rfm['m_score'][s])

In [59]:
rfm.head()

,email,recency,frequency,monetary_value,CLV,r_score,f_score,m_score,score_conc
0,003ppcs4s2vcj0q@marketplace.amazon.de,734,3,40.150000,312.997351,1,3,2,132
1,009g57nc9rg76dy@marketplace.amazon.de,32,11,45.452727,354.335821,5,5,3,553
2,00j89nxrhbft07k@marketplace.amazon.de,1060,1,44.810000,349.325313,1,1,3,113
3,00jx5l3sntnj5p1@marketplace.amazon.de,847,1,23.830000,185.771529,1,1,1,111
4,00sk0ls66hd2c5x@marketplace.amazon.de,958,2,27.050000,210.873682,1,2,1,121

In [69]:
rfm['clv_score'] = ''
for d in range(len(rfm)):
    if rfm.CLV[d] < 215:
        rfm['clv_score'][d] = "Low"
    elif rfm.CLV[d] < 277:
        rfm['clv_score'][d] = "Mid-Low"
    elif rfm.CLV[d] < 320:
        rfm['clv_score'][d] = "Mid"
    elif rfm.CLV[d] < 386:
        rfm['clv_score'][d] = "Mid-High"
    elif rfm.CLV[d] >= 386:
         rfm['clv_score'][d] = "High"

In [62]:
promising = rfm[rfm['score_conc'].isin(["525", "524", "523", "522", "521", "515", "514", "513", "425", "424", "413", "414", "415", "315", "314", "313"])].loc[:,['email']]

In [66]:
rfm[rfm['score_conc'].isin(["525", "524", "523", "522", "521", "515", "514", "513", "425", "424", "413", "414", "415", "315", "314", "313"])]

,email,recency,frequency,monetary_value,CLV,r_score,f_score,m_score,score_conc,clv_score
6,00w4f6c1l0dr8wr@marketplace.amazon.de,39,2,36.400,283.763476,5,2,2,522,Mid
7,00y6n4lv9yxzn94@marketplace.amazon.de,343,1,57.710,449.889841,3,1,4,314,High
51,05xzx8jgpk2xdy5@marketplace.amazon.de,115,1,52.480,409.118331,4,1,4,414,High
54,06b2pyv78fyqq3d@marketplace.amazon.de,40,2,49.485,385.770210,5,2,3,523,Mid-High
97,0d79hym02d70vj2@marketplace.amazon.de,196,1,53.470,416.836074,3,1,4,314,High
...,...,...,...,...,...,...,...,...,...,...
23468,zt03hsjr6gx8hqv@marketplace.amazon.de,197,1,58.810,458.465111,3,1,4,314,High
23471,ztbr3mwpwl6zfr2@marketplace.amazon.de,266,1,46.050,358.991980,3,1,3,313,Mid-High
23481,zuechter1@gmx.de,10,1,102.800,801.397950,5,1,5,515,High
23506,zwinger_von_itzenplitz@gmx.de,256,1,108.810,848.250106,3,1,5,315,High
23518,zyc7k56ktbhyfxb@marketplace.amazon.de,331,1,69.860,544.607595,3,1,5,315,High

In [63]:
promising.shape

(1531, 1)

In [70]:
clv_relevant = rfm[rfm['clv_score'].isin(["Mid-High", "High"])].loc[:,['email']]
clv_relevant.shape

(8964, 1)

In [68]:
rfm.shape # but in powr bi there are only 15,466 customers

(23530, 10)

In [71]:
promising.to_csv('./Outputs/Promising_Cust_09062021.csv', index=False)

clv_relevant.to_csv('./Outputs/High_MidHigh_CLV_Cust_09062021.csv', index=False)

## Experiments