In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import glob
import json

In [2]:
# CSV returning info and categories
df_rt = pd.read_csv('./Data/OSD-7242.csv')
df_cat = pd.read_csv('.\Data\overview_fvb_product_cat.csv')
df_rt.shape, df_cat.shape

C:\Users\Angela\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

((90518, 7), (902356, 3))

In [3]:
df_rt.head()

,OrderDatum,Ordernummer,OrderregelNummer,SKU,RetourDatum,RetourNummer,RetourReden
0,2021-04-20 14:16:15.785,BE01335367,1,8720244051171,2021-04-20 15:10:56.960,100771,11. B2B klantorder
1,2021-04-20 13:49:16.000,NL01437940,1,8720244025301,2021-04-20 14:39:29.104,100765,11. B2B klantorder
2,2021-04-20 13:45:07.000,INT01177946,1,8720244000391,2021-04-20 14:40:25.317,100766,11. B2B klantorder
3,2021-04-20 13:24:35.921,BE01335362,1,8720244047686,2021-04-20 14:41:12.558,100768,11. B2B klantorder
4,2021-04-20 13:12:24.616,NL01437932,1,8720244004351,2021-04-20 14:42:05.539,100769,11. B2B klantorder

In [4]:
df_rt.SKU.unique()

array([8720244051171, 8720244025301, 8720244000391, ..., 8719092085131,
       8718392898823, 8719092034320], dtype=int64)

In [5]:
categories = df_cat.copy()
categories.dropna(inplace=True)
categories.shape

(19787, 3)

In [6]:
categories.head()

                      SKU Articlenumber              Category
882569  85287 W0803/COMBI       8528704  women-shoes-sneakers
882570      8719092789497       8528704  women-shoes-sneakers
882571      8719092789503       8528704  women-shoes-sneakers
882572      8719092789510       8528704  women-shoes-sneakers
882573      8719092789527       8528704  women-shoes-sneakers

In [7]:
#len(categories.Category.unique())
#len(categories.Articlenumber.unique())
len(categories.SKU.unique())

8279

In [8]:
categories.SKU.value_counts().to_frame()

                   SKU
8719092808396        4
8719092808495        4
8719092808464        4
8719092808365        4
8719092808402        4
...                ...
20440 P3804/COMBI    1
10599 P3381          1
8720244075115        1
75214 11885          1
12099 P3381          1

[8279 rows x 1 columns]

In [9]:
categories.drop_duplicates(inplace=True)

In [10]:
categories.shape

(8279, 3)

In [11]:
return_r = df_rt.copy()
return_r

,OrderDatum,Ordernummer,OrderregelNummer,SKU,RetourDatum,RetourNummer,RetourReden
0,2021-04-20 14:16:15.785,BE01335367,1,8720244051171,2021-04-20 15:10:56.960,100771,11. B2B klantorder
1,2021-04-20 13:49:16.000,NL01437940,1,8720244025301,2021-04-20 14:39:29.104,100765,11. B2B klantorder
2,2021-04-20 13:45:07.000,INT01177946,1,8720244000391,2021-04-20 14:40:25.317,100766,11. B2B klantorder
3,2021-04-20 13:24:35.921,BE01335362,1,8720244047686,2021-04-20 14:41:12.558,100768,11. B2B klantorder
4,2021-04-20 13:12:24.616,NL01437932,1,8720244004351,2021-04-20 14:42:05.539,100769,11. B2B klantorder
...,...,...,...,...,...,...,...
90513,2016-01-20 15:42:36.000,BE01000002,2,8718392763435,2016-01-21 14:05:10.387,2,Voldoet niet aan de verwachtingen
90514,2016-01-20 15:30:07.000,DE01000000,1,8717745670109,2016-01-22 08:56:22.031,3,Voldoet niet aan de verwachtingen
90515,2016-01-20 15:28:05.000,NL01000006,2,8717745670086,2016-01-25 09:17:07.887,7,Meerdere maten besteld
90516,2016-01-20 15:28:05.000,NL01000006,1,8717745670062,2016-01-22 13:27:14.566,5,Maat niet juist
90517,2016-01-20 15:28:05.000,NL01000006,3,8718392763473,2016-01-25 09:17:08.092,8,Voldoet niet aan de verwachtingen

In [12]:
ret_2021 = df_rt[(df_rt['RetourDatum'] > '2021-01-01 00:00:00') & (df_rt['OrderDatum'] > '2021-01-01 00:00:00')]
ret_2021.RetourDatum.min()

'2021-01-04 11:11:11.933'

In [13]:
feb_mar = ret_2021[(ret_2021['RetourDatum'] > '2021-02-01 00:00:00') & (ret_2021['RetourDatum'] <= '2021-03-31 23:59:59')][ret_2021.Ordernummer.str.startswith('D')]
feb_mar.head()
#take out other that are not DE!

<ipython-input-13-48c780ee44d3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  feb_mar = ret_2021[(ret_2021['RetourDatum'] > '2021-02-01 00:00:00') & (ret_2021['RetourDatum'] <= '2021-03-31 23:59:59')][ret_2021.Ordernummer.str.startswith('D')]

,OrderDatum,Ordernummer,OrderregelNummer,SKU,RetourDatum,RetourNummer,RetourReden
2193,2021-03-23 16:26:36.000,DE01378347,1,8720244034334,2021-03-24 14:17:48.065,97565,B2B klantorder
2211,2021-03-23 13:35:04.000,DE01378338,1,8719092847487,2021-03-31 09:37:25.917,98111,3. Te smal
2266,2021-03-22 17:44:43.000,DE01378245,1,8720244009523,2021-03-31 09:53:56.308,98130,2. Te klein
2273,2021-03-22 16:57:56.546,DE01378240,1,8720244042780,2021-03-31 10:55:28.442,98175,4. Anders dan op de foto
2274,2021-03-22 16:57:56.546,DE01378240,3,8719092949631,2021-03-31 10:55:28.442,98176,1. Te groot

In [14]:
feb_mar.SKU.unique()

array([8720244034334, 8719092847487, 8720244009523, ..., 8719092842864,
       8719092894849, 8719092894368], dtype=int64)

In [15]:
check = feb_mar[~feb_mar.SKU.apply(lambda x: str(x).startswith('87'))]
check.shape

(0, 7)

In [16]:
feb_mar.shape

(2637, 7)

In [17]:
temp1 = feb_mar[['SKU', 'RetourReden', 'Ordernummer']].groupby(['SKU', 'RetourReden']).agg({'Ordernummer':pd.Series.count}).sort_values(by=['SKU', 'RetourReden'], ascending=False)
temp1

                                         Ordernummer
SKU           RetourReden
8720244071575 Past niet bij mij                    1
8720244071568 Te groot                             1
              Past niet bij mij                    1
8720244071544 Niets ingevuld door klant            1
              Anders                               1
...                                              ...
8717745669639 1. Te groot                          1
8717745669615 2. Te klein                          1
8717745669592 Te groot                             1
8717745669578 Te klein                             1
8717745314621 Te groot                             1

[2388 rows x 1 columns]

In [18]:
df_rt.dtypes

OrderDatum          object
Ordernummer         object
OrderregelNummer     int64
SKU                  int64
RetourDatum         object
RetourNummer         int64
RetourReden         object
dtype: object

In [19]:
cat = categories[categories.SKU.str.startswith('87')]
cat.shape

(8129, 3)

In [20]:
cat = cat.astype({'SKU':'int64'}, errors='ignore')

In [21]:
cat.dtypes

SKU               int64
Articlenumber    object
Category         object
dtype: object

In [53]:
temp2 = feb_mar[['SKU', 'RetourReden', 'Ordernummer']]
temp3 = pd.merge(temp2, cat,  on='SKU')
temp3.shape

(1031, 5)

In [54]:
feb_mar.shape

(2637, 7)

In [55]:
temp3.head()

,SKU,RetourReden,Ordernummer,Articlenumber,Category
0,8720244034334,B2B klantorder,DE01378347,1835902,men-shoes-laceshoes
1,8719092847487,3. Te smal,DE01378338,1335007,men-shoes-sneakers
2,8719092847487,Te groot,DE01374134,1335007,men-shoes-sneakers
3,8719092847487,Te groot,DE01373929,1335007,men-shoes-sneakers
4,8719092847487,Te klein,DE01372061,1335007,men-shoes-sneakers

In [123]:
#temp3.to_csv('./ret_analysis.csv', index=False)





import gspread
import gspread_pandas

#koi_sheet = Spread('1C4Q_8tXrSfyOcf_dX-Pt_pH6O740gTGRcMpbVTFMFEg')
#koi_sheet.df_to_sheet(combined_summary, index=False, sheet='ACTUALS_DUMP', start='A1', replace=True)

gc = gspread.service_account()
sht1 = gc.open_by_key('1Z2jRxk46VNvPr2eJ1Jcx4W4VGcLRGYVCkj6RvhxxP5I')
worksheet = sht1.worksheet("FVB_ret")
#worksheet.update('B1', 'Bingo!')
# %%
worksheet.update([temp3.columns.values.tolist()] + temp3.values.tolist())

{'spreadsheetId': '1Z2jRxk46VNvPr2eJ1Jcx4W4VGcLRGYVCkj6RvhxxP5I',
 'updatedRange': 'FVB_ret!A1:E1032',
 'updatedRows': 1032,
 'updatedColumns': 5,
 'updatedCells': 5160}

In [56]:
temp3.Category.unique()

array(['men-shoes-laceshoes', 'men-shoes-sneakers\xa0',
       'men-shoes-sneakers', 'men-vanbommel', 'men-shoes-boots\xa0',
       'women-shoes-sneakers', 'men-shoes-chelseashoes',
       'men-shoes-laceshoes\xa0', 'women-shoes-sandals',
       'men-shoes-boots', 'women-shoes-pumps',
       'men-accessories-belts\xa0', 'women-shoes-espadrilles',
       'women-shoes-loafers', 'women-accessories-belts',
       'men-accessories-belts', 'men-shoes-boatshoes',
       'women-shoes-ankleboots', 'men-shoes-buckleshoes\xa0'],
      dtype=object)

In [62]:
temp3.Category.unique()

array(['men-shoes-laceshoes', 'men-accessories-belts', 'men-vanbommel',
       'men-shoes-boots\xa0', 'men-shoes-chelseashoes',
       'men-shoes-laceshoes\xa0', 'women-shoes-sandals',
       'men-shoes-boots', 'women-shoes-pumps',
       'men-accessories-belts\xa0', 'women-shoes-espadrilles',
       'women-shoes-loafers', 'women-accessories-belts',
       'men-shoes-boatshoes', 'women-shoes-ankleboots',
       'men-shoes-buckleshoes\xa0'], dtype=object)

In [57]:
len(temp3.Category.unique())

19

In [43]:
temp3['Category'][temp3.Category =='men-shoes-sneakers\xa0'].apply(lambda x: 'men-shoes-sneakers')

1       men-shoes-sneakers
2       men-shoes-sneakers
3       men-shoes-sneakers
4       men-shoes-sneakers
5       men-shoes-sneakers
               ...
923     men-shoes-sneakers
945     men-shoes-sneakers
978     men-shoes-sneakers
984     men-shoes-sneakers
1012    men-shoes-sneakers
Name: Category, Length: 128, dtype: object

In [58]:
# changing categories
men_sneakers = (temp3['Category'].str.contains('men-shoes-sneakers\xa0') | temp3['Category'].str.contains('men-shoes-sneakers'))
men_laceshoes = (temp3['Category'].str.contains('men-shoes-laceshoes\xa0') | temp3['Category'].str.contains('men-shoes-laceshoes'))
men_boots = (temp3['Category'].str.contains('men-shoes-boots\xa0') | temp3['Category'].str.contains('men-shoes-boots'))
men_belts = (temp3['Category'].str.contains('men-accessories-belts\xa0') | temp3['Category'].str.contains('men-accessories-belts'))

In [59]:
temp3.loc[men_sneakers,['Category']] = "men-shoes-sneakers"
temp3.loc[men_sneakers,['Category']] = "men-shoes-laceshoes"
temp3.loc[men_sneakers,['Category']] = "men-shoes-boots"
temp3.loc[men_sneakers,['Category']] = "men-accessories-belts"

In [61]:
len(temp3.Category.unique())

16

In [110]:
temp3.RetourReden.unique()

array(['B2B klantorder', '3. Te smal ', 'Te groot ', 'Te klein',
       'Te smal ', '2. Te klein', 'Past niet bij mij',
       '4. Anders dan op de foto', 'Anders', '1. Te groot ',
       '6. Meerdere maten besteld', 'Niets ingevuld door klant',
       '9. Anders', '5. Past niet bij mij',
       '10. Niets ingevuld door klant', 'Anders dan op de foto',
       'Meerdere maten besteld', 'Verkeerd artikel ontvangen',
       'Beschadigd/ defect', '7. Beschadigd/ defect'], dtype=object)

In [122]:
temp3[['Category', 'SKU','RetourReden']].groupby(['Category', 'SKU']).agg({'RetourReden':pd.Series.count}).sort_values(by=['RetourReden'], ascending=False)

                                     RetourReden
Category              SKU
men-accessories-belts 8719092847470           13
                      8719092847456           12
                      8719092847494            8
                      8719092847500            7
                      8719092847463            7
...                                          ...
                      8720244051508            1
                      8720244051546            1
                      8720244051683            1
                      8720244051706            1
women-shoes-sandals   8720244066236            1

[755 rows x 1 columns]

In [119]:
temp3[['Category', 'SKU','RetourReden']].groupby(['Category', 'SKU']).agg({'RetourReden':lambda x: x}).sort_values(by=['Category', 'SKU'], )

                                                   RetourReden
Category              SKU
men-accessories-belts 8718392902056                     Anders
                      8719092203702                         []
                      8719092203719                  Te groot
                      8719092203726                     Anders
                      8719092306557                         []
...                                                        ...
women-shoes-sandals   8720244066069          Past niet bij mij
                      8720244066113                  Te groot
                      8720244066168  Niets ingevuld door klant
                      8720244066182                     Anders
                      8720244066236                  Te groot

[755 rows x 1 columns]

In [107]:
temp3[['SKU', 'RetourReden']].groupby(['SKU']).agg({'RetourReden':pd.Series.count}).sort_values(by=['RetourReden'], ascending=False)

               RetourReden
SKU
8719092847470           13
8719092847456           12
8719092847494            8
8719092847500            7
8719092847463            7
...                    ...
8719092927172            1
8719092927233            1
8719092927356            1
8719092930066            1
8720244066236            1

[755 rows x 1 columns]

In [96]:
temp4 = temp3[['Category', 'SKU','RetourReden']].groupby(['Category', 'SKU', 'RetourReden'])
count = 0
for key, item in temp4:
    if count < 2:
        a_group = temp4.get_group(key)
        count += 1
        print(key)
        print(a_group, "\n")
    else:
        break

('men-accessories-belts', 8718392902056, 'Anders')
                   Category            SKU RetourReden
1020  men-accessories-belts  8718392902056      Anders

('men-accessories-belts', 8719092203702, 'Anders')
                  Category            SKU RetourReden
165  men-accessories-belts  8719092203702      Anders

In [91]:
#temp4.get_group(('women-shoes-sandals', '8720244066236'))
temp4.get_group('women-shoes-sandals')

ValueError: must supply a tuple to get_group with multiple grouping keys

In [68]:
ret_2021.columns

Index(['OrderDatum', 'Ordernummer', 'OrderregelNummer', 'SKU', 'RetourDatum',
       'RetourNummer', 'RetourReden'],
      dtype='object')

## Other stuff

In [7]:
df = first_order(df)

In [8]:
df.shape, df_og.shape

((268273, 43), (268273, 34))

In [9]:
df = df[df.category!='Coupon']

In [10]:
df.category.unique()

array(['Bio Schwein', 'Special Lamm', 'Standard Kuh Maxi',
       'Standard Kuh Mini', 'Bio Kuh Mini', 'Bio Kuh Maxi',
       'Bio Schwein Mini', 'Bio Schwein Maxi', 'Special Kuh (Standalone)',
       'Standard Schwein Mini', 'Standard Schwein Maxi', 'Gans 5kg',
       'Gans 4.5kg', 'Special Schwein Maxi', 'Special Schwein Mini',
       'Bio Huhn', 'Special Huhn', 'Wasserbuffel', 'Special Kuh Mini',
       'Special Kuh Maxi', 'GefÃ¼llte HÃ¼hner', 'Standard Schwein',
       'Bio Kuh', 'Classic Kuh', 'Special Schwein', 'Special Kuh (New)',
       'Luxe Schwein', 'Premium Huhn', 'Bio Gourmet Kuh', 'Classic Huhn',
       'Bio Ente', 'Bio Gans 4KG', 'Bio Gans 5KG', 'Special Huhn 2',
       'Wildlachs', 'Combi (Kuh + Huhn)', 'Standard Reh', 'Classic Ente',
       'Special Kuh 3', 'Special Wildschwein', 'Bio Ente 2', 'Pute 5kg',
       'Pute 4kg', 'Special Schwein 2', 'Standard Hirsch', 'Bio Gans 3KG',
       'Special Huhn 3', 'Wildlachs 2', 'Gourmet Kuh'], dtype=object)

In [11]:
df['animal_type'] = ''

In [12]:
kuh = (df['category'].str.contains('Kuh'))
schwein = (df['category'].str.contains('Schwein') | df['category'].str.contains('schwein'))
huhn = (df['category'].str.contains('Huhn') | df['category'].str.contains('HÃ¼hner'))
lamm = (df['category'].str.contains('Lamm'))
reh = (df['category'].str.contains('Reh'))
ente = (df['category'].str.contains('Ente'))
gans = (df['category'].str.contains('Gans'))
wasserbuffel = (df['category'].str.contains('Wasserbuffel'))
pute = (df['category'].str.contains('Pute'))
hirsch = (df['category'].str.contains('Hirsch'))
fish = (df['category'].str.contains('Wildlachs'))

In [13]:
df.loc[kuh,['animal_type']] = "Kuh"
df.loc[schwein,['animal_type']] = "Schwein"
df.loc[huhn,['animal_type']] = "Huhn"
df.loc[lamm,['animal_type']] = "Lamm"
df.loc[reh,['animal_type']] = "Reh"
df.loc[ente,['animal_type']] = "Ente"
df.loc[gans,['animal_type']] = "Gans"
df.loc[wasserbuffel,['animal_type']] = "Wasserbuffel"
df.loc[pute,['animal_type']] = "Pute"
df.loc[hirsch,['animal_type']] = "Hirsch"
df.loc[fish,['animal_type']] = "Fish" #is this smart to do?

In [14]:
df['product_type'] = ''

In [15]:
classic = (df['category'].str.contains('Classic') | df['category'].str.contains('Standard'))
bio = ((df['category'].str.contains('Bio')) & (~df['category'].str.contains('Ente')) & (~df['category'].str.contains('Gans')) & (~df['category'].str.contains('Pute')))
special = (df['category'].str.contains('Special') | df['category'].str.contains('Gans') | df['category'].str.contains('Ente') | df['category'].str.contains('Wasser') | df['category'].str.contains('Luxe') | df['category'].str.contains('Premium') | df['category'].str.contains('GefÃ¼llte') | df['category'].str.contains('Combi') | df['category'].str.contains('Pute'))

In [16]:
df.loc[classic,['product_type']] = "Classic"
df.loc[bio,['product_type']] = "Bio"
df.loc[special,['product_type']] = "Special"

In [17]:
df['order_value_ex_vat'] = df['order_value_ex_vat'].astype(float)
df['order_total_incl_vat'] = df['order_total_incl_vat'].astype(float)

In [18]:
df.shape

(253310, 45)

Tuesday, 27.04., pig BBQ angle

+ everyone
- except people that bought a pig package during the last 4 weeks
+ zombies, that bought a pig package before

In [19]:
pig = df[df.date >= '2021-03-30'][(df['animal_type'].str.contains('Schwein'))].loc[:,['email']]
pigz = df[(df['animal_type'].str.contains('Schwein'))].loc[:,['email']]
pig.shape, pigz.shape

<ipython-input-19-f06bdef11386>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pig = df[df.date >= '2021-03-30'][(df['animal_type'].str.contains('Schwein'))].loc[:,['email']]

((1274, 1), (34132, 1))

## RFM

In [20]:
# Setup maximum date for Recency calculation on training dataset
max_date = df.order_date.max()

In [21]:
# Create the RFM table
rfm = df.groupby('email').agg({'order_date': lambda x: (max_date - x.max()).days,
                                                   'order_number': lambda num: len(num),
                                                   'order_value_ex_vat': lambda price: price.mean()})

In [22]:
# Reset Index
rfm.reset_index(inplace=True)

# Change the name of the columns
rfm.columns=['email','recency','frequency','monetary_value']

In [23]:
rfm.shape

(121133, 4)

In [24]:
# Purchase Frequency
purchase_frequency=sum(rfm['frequency'])/rfm.shape[0]

In [25]:
# Repeat Rate
repeat_rate=rfm[rfm.frequency > 1].shape[0]/rfm.shape[0]

In [26]:
# Churn Rate
churn_rate=1-repeat_rate

In [27]:
purchase_frequency,repeat_rate,churn_rate

(2.091172512857768, 0.399271874716221, 0.6007281252837791)

In [28]:
# Customer Value
rfm['CLV']=(rfm['monetary_value']*purchase_frequency)/churn_rate

# Purchase Table

In [29]:
temp0 = df.groupby(['email','date']).agg({'order_item_id':pd.Series.count})

In [30]:
temp0 = temp0.groupby(level=0).apply(purchase_number)

In [31]:
temp0.reset_index(inplace=True)

In [32]:
temp0.drop('order_item_id',axis=1,inplace=True)

In [33]:
temp1 = df.groupby('email').agg({'order_item_id':pd.Series.nunique})

In [34]:
temp1.rename(columns={'order_item_id':'total_purchases'},inplace=True)

In [35]:
temp1.reset_index(inplace=True)

In [36]:
temp2 = temp0.merge(temp1, on='email',how='left')

In [37]:
temp3 = df.groupby(['email','date','category','product_type','animal_type']).agg({'order_item_id':pd.Series.count})

In [38]:
temp3.reset_index(inplace=True)

In [39]:
purchase_table = temp2.merge(temp3, on=['email','date'], how='left')

In [40]:
purchase_table.drop('order_item_id',axis=1,inplace=True)

In [41]:
purchase_table['days_between'] = purchase_table.groupby('email')['date'].diff().apply(lambda x: x.days)

In [42]:
purchase_table['days_between'].fillna(0,inplace=True)

In [43]:
purchase_table['category_type'] = purchase_table['product_type'] + "_" + purchase_table['animal_type']

In [44]:
purchase_table = purchase_table[~purchase_table.category.str.contains('Coupon')]

In [45]:
unstack_table = purchase_table.groupby(['email','category_type']).agg({'category':pd.Series.nunique}).unstack(1).fillna(0)

In [46]:
unstack_table.columns = unstack_table.columns.droplevel()

In [47]:
unstack_table.reset_index(inplace=True)

In [48]:
unstack_table.shape

(121133, 19)

##  Newsletter Audience

## Audience

In [64]:
# for highlands cows
final_audience.to_csv('./Outputs/KnK_Audience_PigBBQ_27042021.csv', index=False)